When a draft defines multiple extension identifiers...

...like the RIR Search draft with 5 extension identifiers. Section 4.1 in RFC 9083 says:

A response to a "help" request will include identifiers for all of the specifications supported by the server. A response to any other request will include only identifiers for the specifications used in the construction of the response.

In RIR Search, we say:

A server that supports the functionality specified in this document MUST include the string literals "rirSearch1", "ips", "autnums", "ipSearchResults", and "autnumSearchResults" in the rdapConformance array in their response objects.

Couple of reviewers came back with the feedback that a particular response should only include the extension identifiers in its rdapConformance array that were actually needed to construct that response. E.g., including "autnums" and "autnumSearchResults" for an IP search result (and vice-versa) seemed non-intuitive to them. I guess we strictly interpreted "include only identifiers for the specifications used in the construction of the response" where a draft/RFC is considered a specification and the RIR Search one happens to have 5 identifiers.

However, in the NRO RDAP Profile with multiple extension identifiers (3), we only selectively include "nro_rdap_profile_asn_hierarchical_0" versus "nro_rdap_profile_asn_flat_0" in an autnum lookup response depending on how a particular RIR models its ASN registrations.

Which of these two is the recommended/correct way? Should we have some clarification for this scenario in the RDAP Extensions draft?

IMHO, "include only identifiers for the specifications used in the construction of the response" is clear, and means that if any part of a specification is used when constructing a response, then all of the identifiers defined by that document should be included in the response.  Having to link identifiers to specific pieces of functionality, such that only a subset of identifiers are returned, doesn't seem to net much benefit for the client, either.  I think the approach used in the NRO RDAP profile implementations, of only including the flat/hierarchical identifier in ASN responses, should be updated such that the identifier is returned in all cases in which the principal NRO RDAP profile identifier is returned (which should be all responses).

Honestly, I'm not so sure about that interpretation. :) How does a client benefit if all the identifiers are returned? It'd leave a client with a knowledge gap about which identifiers were actually in play when constructing that response, and that dilutes the signaling purpose of identifiers. Not surprising that the reviewers who expected a subset of identifiers returned perceived it so.

> Honestly, I'm not so sure about that interpretation. How does a client benefit if all the identifiers from a draft or an RFC are returned every time? It'd leave a client with a knowledge gap about which identifiers were actually in play when constructing that response, and that dilutes the signaling purpose of identifiers. Not surprising that the reviewers who expected a subset of identifiers to be returned perceived it so.

I can see why a user might expect this to happen, but (related to the previous point) there's nothing in the current specifications that goes to an extension having multiple identifiers where each relates to a component of an extension only.  (Multiple identifiers of themselves don't appear to pose any problems with the current text.)  This document could set out required behaviour here, but I think it would be preferable to limit it (where possible) to clarifications, rather than the introduction of substantive changes, so as to maximise the chance of it progressing and to minimise the potential impact on existing clients.  The benefits of behaviour around identifiers being for components of specifications seems to me to be limited, too, since the principal purposes of the identifiers are 1) supporting the client in finding the reference point for the specifications in use by a service and 2) namespacing, and both of these are handled by the current approach.

> I think the confusion in "include only identifiers for the specifications used in the construction of the response" is around the word "specification". Does "specification" mean a draft or an RFC in totality? Or, does "specification" connote the functionality a particular subset of extensions from that draft/RFC represent? I wager most would interpret it as the latter.

I think it means a draft or an RFC in totality, or at least there are plenty of examples of people using it in that sense.  Some recent examples:

 - https://mailarchive.ietf.org/arch/msg/ietf-announce/tvqdC1g6HMRW8UdCmHaoF1UWAag/
 - https://mailarchive.ietf.org/arch/msg/regext/2Mc2mYHDXCU-vcA3CXyDQi7VbqY/
 - https://mailarchive.ietf.org/arch/msg/regext/_NUsDyaInVvO_9QUONMtU85nhac/

If it's going to be drawn more narrowly here, then I think that requires text that alters (rather than clarifies) 9083, and that in turn should be avoided for the reasons mentioned earlier.

> there's nothing in the current specifications that goes to an extension having multiple identifiers where each relates to a component of an extension only. (Multiple identifiers of themselves don't appear to pose any problems with the current text.) This document could set out required behaviour here, but I think it would be preferable to limit it (where possible) to clarifications, rather than the introduction of substantive changes, so as to maximise the chance of it progressing and to minimise the potential impact on existing clients.

Agreed.



> but (related to the previous point) there's nothing in the current specifications that goes to an extension having multiple identifiers where each relates to a component of an extension only. (Multiple identifiers of themselves don't appear to pose any problems with the current text.) This document could set out required behaviour here, but I think it would be preferable to limit it (where possible) to clarifications, rather than the introduction of substantive changes, so as to maximise the chance of it progressing and to minimise the potential impact on existing clients.

Agreed.

> I think it means a draft or an RFC in totality, or at least there are plenty of examples of people using it in that sense.

So it seems. IMO, then we just need to clarify in this draft that when a spec has multiple identifiers, servers must return all of them in any response from that spec.

> The benefits of behaviour around identifiers being for components of specifications seems to me to be limited, too, since the principal purposes of the identifiers are 1) supporting the client in finding the reference point for the specifications in use by a service and 2) namespacing, and both of these are handled by the current approach.

But, is this sufficient? Do human and/or programmatic users of RDAP responses benefit from greater granularity in limiting extension identifiers to just those that actually featured when constructing a response? Irrespective, IMO, this subject deserves a clarification in this draft.

> But, is this sufficient? Do human and/or programmatic users of RDAP responses benefit from greater granularity in limiting extension identifiers to just those that actually featured when constructing a response?

A human/programmatic user could in theory understand only part of an extension, which might save some reading/development time, but given that most extensions are fairly straightforward, this seems like a pretty small advantage.  If an extension were so large that the greater granularity was a significant benefit in this respect, then the extension should probably be split into separate smaller extensions.  

> Irrespective, IMO, this subject deserves a clarification in this draft.

Yep, I think text on this topic will be useful.

What change is being sought in this draft? To say that extensions can identify multiple extension identifiers?

Are we trying to redefine behavior set out in Section 4.1 of RFC 9083? I'd rather leave that in place and put the signaling of all supported extensions in the "versioning" extension from https://datatracker.ietf.org/doc/draft-gould-regext-rdap-versioning/ .

> What change is being sought in this draft? To say that extensions can identify multiple extension identifiers?

To clarify (not re-define) "A response to any other request will include only identifiers for the specifications used in the construction of the response." from section 4.1 of RFC 9083 when a specification (draft/RFC) defines multiple extension identifiers (like the RIR Search does).

> Are we trying to redefine behavior set out in Section 4.1 of RFC 9083? I'd rather leave that in place and put the signaling of all supported extensions in the "versioning" extension from https://datatracker.ietf.org/doc/draft-gould-regext-rdap-versioning/ .

Per above discussion, no. But, there are folks who have misconstrued "A response to any other request will include only identifiers for the specifications used in the construction of the response." for a specification with multiple extension identifiers in that a particular response should only return those identifiers in the rdapConformance array for a particular response type that actually featured for that response type (e.g., not including "autnums" and "autnumSearchResults" for an IP search result), and not all the identifiers for every response type from a specification.



> > But, is this sufficient? Do human and/or programmatic users of RDAP responses benefit from greater granularity in limiting extension identifiers to just those that actually featured when constructing a response?
> 
> A human/programmatic user could in theory understand only part of an extension, which might save some reading/development time, but given that most extensions are fairly straightforward, this seems like a pretty small advantage. If an extension were so large that the greater granularity was a significant benefit in this respect, then the extension should probably be split into separate smaller extensions.

Fair point. A spec defining multiple extension identifiers should be a rare scenario. We just need to clarify for it in this draft in case it happens again.

> I'd rather leave that in place and put the signaling of all supported extensions in the "versioning" extension from https://datatracker.ietf.org/doc/draft-gould-regext-rdap-versioning/ .

This is an interesting thought since the "versioning" member details extensions' versions' info. Though, what's in question here is what goes into the "rdapConformance" array for a response (all identifiers from a spec, or only the relevant ones). Since "rdapConformance" is a required member of a response and "versioning" would be an optional one depending on if the versioning extension has been implemented, clarifying the a-spec-with-multiple-extension-identifiers scenario vis-a-vis "rdapConformance" should be more effective, IMO.

I think we can both clarify what goes into the `rdapConformance` array and point at the versioning draft for providing additional information.

WRT to what goes into the the `rdapConformance` array, the fact that people understood "specification" to be a document vs. specific prose of a document should not be surprizing given that a single specification document with more than one extension identifier is a new thing. We must remember that the thing that is of most importance is signaling to the client how the response is formulated both with extension ids that help with namespacing and extension ids that denote other behavior.





> I think we can both clarify what goes into the `rdapConformance` array and point at the versioning draft for providing additional information.

Agreed.

> WRT to what goes into the the `rdapConformance` array, the fact that people understood "specification" to be a document vs. specific prose of a document should not be surprizing given that a single specification document with more than one extension identifier is a new thing. We must remember that the thing that is of most importance is signaling to the client how the response is formulated both with extension ids that help with namespacing and extension ids that denote other behavior.

Right.

