syntax of identifier is not reforumulated

From Scott Hollenbeck on the mailing list:

> Section 6 of RFC 7480 describes the syntax specification for extension identifiers. It notes that they "consist of the alphabetic US-ASCII characters A through Z in both uppercase and lowercase". The last paragraph of Section 2.2 says that "This document updates the formulation in [RFC7480] to explicitly note that extension identifiers are case-sensitive, and extension identifiers MUST NOT be registered where a new identifier is a mixed-case version of an existing identifier". That's not a change to the syntax specification, though. The ABNF isn't changing. It's a suggested clarification of the registration policy, and would be a better fit in Section 6.1 where guidance is given to the reviewers and current text notes that "RDAP clients SHOULD match values in this registry using case-insensitive matching".



Also:

> 6.1:
> I like the idea of adding additional expert reviewers. As noted above, I'd like to see text added here to say that reviewers should perform case-insensitive matching as part of a review request to be consistent with Section 6.2.

addressed in -05